*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family:'Courier New', Courier, monospace;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #F7F7F7;
}
.header{
    width: 1100px;
    margin: auto;
    position: relative;
}
nav{
    margin:10px 30px 10px 30px;
    border-radius: 20px;
    display: flex;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky;
    background-color: #86C6F4;
    width: 95%;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding: 0px 16px 0px 16px;
    text-decoration: none;

}
nav ul li a:hover{
    color:gray;
}

.booking{
    padding: 1em;
    margin:3em auto;
    width: 50%;
    background:#86C6F4;
    box-shadow: 0 20px 40px rgba(0, 0, 0,2);
    list-style: none;
    font-size: 20px;
    line-height: 80px;
}
.booking input{
  padding: 8px 10px;
  background-color: transparent;
  color: #24262b;
  border: none;
  border-bottom: 2px solid black;
}
button{
    background:#24262b;
    color: white;
    padding: 0 0 0 0;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    font-size: 35px;
}
button:hover{
    margin-top: 5px;
    cursor: pointer;
    background: gray;
}