*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family:'Courier New', Courier, monospace;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #3A3845;
}
.header{
    width: 1100px;
    margin: auto;
    position: relative;
}
nav{
    margin:10px 30px 10px 30px;
    border-radius: 20px;
    display: flex;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky;
    background-color: #FF6363;
    width: 95%;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding: 0px 16px 0px 16px;
    text-decoration: none;

}
nav ul li a:hover{
    color:gray;
}
.login-box{
    padding: 1em;
    margin:6em auto;
    width: 18em;
    background:#FF6363;
    border-radius: 10px;
}
.login-box input{
  padding: 8px 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid black;
}
button{
    background:#fff;
    color: black;
    border: 0;
    cursor:pointer;
    margin-top: 17px;
    border-radius: 5px;
    text-align: center;
}

.footer{
    background-color: #FF6363;
    padding: 70px 0px;
    line-height: 1.2;
  }
  .container2{
    max-width: 1170px;
    margin: auto;
  }
  .footer ul{
    list-style: none;
    font-size: 16px;
  }
  .row2{
    display: flex;
    flex-wrap: wrap;
  }
  .footer-col{
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4{
    font-size: 20px;
    color: #24262b;
    text-transform: capitalize;
    margin-left: 30px;
    margin-bottom:30px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content:'';
    position:absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height:2px;
    box-sizing:border-box;
    width:50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#24262b;
    text-decoration: none;
    font-weight: 300;
    color: #24262b;
    display: block;
    transition: all 0.3s ease;
    
  }
  .footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225,225,225,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #24262b;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: white ;
  } 
  @media(max-width:767px){
    .footer-col{
      width: 50%;
      margin-bottom: 25px;
    }
  }
  @media(max-width:574px){
    .footer-col{
      width: 100%;
    }
  }
